# Organize LH sample for PR 3params Opt2 LHS multistart

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../../')

In [2]:
PR_no_results = pd.read_csv('Data/Fits/LHS_Fits/PR_noTdep_LHS_from206.csv',index_col=0)

In [3]:
PR_no_results.dropna(axis=0)

,Unnamed: 0.1,sc_param1,sc_param2,"PR_kappa_A[bmimpf6,R32]","PR_kappa_A[R32,bmimpf6]",SSR
5,5,0.021303,0.004003,0.004893,-0.003620,10.388623
89,89,0.021303,0.021446,-0.001554,-0.003730,10.654327
105,105,0.021303,0.035016,0.005894,-0.003603,10.348592
230,230,0.021303,0.018093,-0.001554,-0.003730,10.654327

In [4]:
PR_no_results[PR_no_results.SSR == PR_no_results.SSR.min()]

,Unnamed: 0.1,sc_param1,sc_param2,"PR_kappa_A[bmimpf6,R32]","PR_kappa_A[R32,bmimpf6]",SSR
105,105,0.021303,0.035016,0.005894,-0.003603,10.348592

In [5]:
no_105 = PR_no_results.iloc[105]

In [6]:
lhs = pd.read_csv('../../LHS_250x8.txt')

In [7]:
lhs['sc_param3'] = ((lhs['Param3']-lhs['Param3'].min())/(lhs['Param3'].max()-lhs['Param3'].min()))*2+(-1)

In [8]:
no_105_sc = no_105[['sc_param1','sc_param2']]

In [9]:
no_105_sc_df = pd.DataFrame(no_105_sc).T
sc_105 = pd.concat([no_105_sc_df]*250,ignore_index=True)
sc_105_lhs = pd.concat([sc_105,lhs[['sc_param3']]],axis=1,ignore_index=True)
sc_105_lhs.columns = ['sc_param1','sc_param2','sc_param3']
sc_105_lhs.to_csv('Data/Fits/LHS_Fits/PR_3params_Opt2_from105.csv',sep=',')

In [ ]:
sc_105_lhs