# Organize LH sample for SRK noTdep LHS multistart

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../../')

In [2]:
# PR_1param_Opt1_results = pd.read_csv('Data/Fits/LHS_Fits/PR_1param_Opt1_LHS.csv',index_col=0)
PR_1param_Opt2_results = pd.read_csv('Data/Fits/LHS_Fits/PR_1param_Opt2_LHS.csv',index_col=0)

In [ ]:
SRK_1param_Opt1_results.dropna(axis=0)

In [ ]:
SRK_1param_Opt1_results[SRK_1param_Opt1_results.SSR == SRK_1param_Opt1_results.SSR.min()]

In [ ]:
Opt1_153 = SRK_1param_Opt1_results.iloc[153]

In [3]:
PR_1param_Opt2_results.dropna(axis=0)

       Param1  sc_param1  PR_kappa_A[bmimpf6,R32]        SSR
21   0.494270  -0.011289                 0.006258  14.110346
33   0.504919   0.010144                 0.022720  13.020940
50   0.488707  -0.022485                 0.006258  14.110346
72   0.461280  -0.077685                 0.022720  13.020943
74   0.503719   0.007728                 0.022720  13.020940
120  0.472536  -0.055031                 0.022720  13.020942
122  0.453030  -0.094290                 0.022720  13.020942
127  0.497057  -0.005679                 0.006258  14.110346
146  0.456142  -0.088028                 0.022720  13.020942
148  0.471516  -0.057084                 0.022720  13.020942
149  0.448340  -0.103728                 0.022720  13.020943
165  0.481267  -0.037459                 0.006258  14.110348
173  0.464531  -0.071143                 0.022720  13.020942
190  0.487078  -0.025764                 0.006258  14.110346
206  0.510464   0.021303                 0.022720  13.020940
221  0.445637  -0.109168                 0.022720  13.020943
226  0.476739  -0.046572                 0.022720  13.020943

In [4]:
PR_1param_Opt2_results[PR_1param_Opt2_results.SSR == PR_1param_Opt2_results.SSR.min()]

       Param1  sc_param1  PR_kappa_A[bmimpf6,R32]       SSR
206  0.510464   0.021303                  0.02272  13.02094

In [5]:
Opt2_206 = PR_1param_Opt2_results.iloc[206]

In [6]:
lhs = pd.read_csv('../../LHS_250x8.txt')

In [7]:
lhs['sc_param1'] = ((lhs['Param1']-lhs['Param1'].min())/(lhs['Param1'].max()-lhs['Param1'].min()))*2+(-1)
lhs['sc_param2'] = ((lhs['Param2']-lhs['Param2'].min())/(lhs['Param2'].max()-lhs['Param2'].min()))*2+(-1)

In [ ]:
Opt1_153_sc = Opt1_153[['sc_param2']]

In [8]:
Opt2_206_sc = Opt2_206[['sc_param1']]

In [ ]:
Opt1_153_sc_df = pd.DataFrame(Opt1_153_sc).T
sc_Opt1_153 = pd.concat([Opt1_153_sc_df]*250,ignore_index=True)
sc_lhs_Opt1_153 = pd.concat([lhs[['sc_param1']],sc_Opt1_153],axis=1,ignore_index=True)
sc_lhs_Opt1_153.columns = ['sc_param1','sc_param2']
sc_lhs_Opt1_153.to_csv('Data/Fits/LHS_Fits/SRK_noTdep_scLHS_Opt1_153.csv',sep=',')

In [9]:
Opt2_206_sc_df = pd.DataFrame(Opt2_206_sc).T
sc_Opt2_206 = pd.concat([Opt2_206_sc_df]*250,ignore_index=True)
sc_lhs_Opt2_206 = pd.concat([sc_Opt2_206,lhs[['sc_param2']]],axis=1,ignore_index=True)
sc_lhs_Opt2_206.columns = ['sc_param1','sc_param2']
sc_lhs_Opt2_206.to_csv('Data/Fits/LHS_Fits/PR_noTdep_from206.csv',sep=',')

In [ ]:
sc_lhs_Opt1_78

In [ ]:
sc_lhs_Opt2_206