# Organize LH sample for SRK noTdep LHS multistart

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../../')

In [2]:
SRK_1param_Opt1_results = pd.read_csv('Data/Fits/LHS_Fits/SRK_1param_Opt1_LHS.csv',index_col=0)
SRK_1param_Opt2_results = pd.read_csv('Data/Fits/LHS_Fits/SRK_1param_Opt2_LHS.csv',index_col=0)

In [3]:
SRK_1param_Opt1_results.dropna(axis=0)

       Param2  sc_param2  SRK_kappa_A[R32,emimTf2N]        SSR
5    0.500342   0.004003                  -0.002313  20.187151
59   0.448450  -0.100148                  -0.003761  18.208599
89   0.509033   0.021446                  -0.002313  20.187152
101  0.436409  -0.124315                  -0.033490   0.717427
153  0.447741  -0.101572                  -0.033490   0.717427
230  0.507362   0.018093                  -0.002313  20.187151

In [4]:
SRK_1param_Opt1_results[SRK_1param_Opt1_results.SSR == SRK_1param_Opt1_results.SSR.min()]

       Param2  sc_param2  SRK_kappa_A[R32,emimTf2N]       SSR
153  0.447741  -0.101572                   -0.03349  0.717427

In [5]:
Opt1_153 = SRK_1param_Opt1_results.iloc[153]

In [6]:
SRK_1param_Opt2_results.dropna(axis=0)

       Param1  sc_param1  SRK_kappa_A[bmimpf6,R32]        SSR
21   0.494270  -0.011289                  0.004845  23.158023
33   0.504919   0.010144                  0.017648  21.981677
50   0.488707  -0.022485                  0.004845  23.158023
72   0.461280  -0.077685                  0.017648  21.981678
74   0.503719   0.007728                  0.017648  21.981677
120  0.472536  -0.055031                  0.017648  21.981679
122  0.453030  -0.094290                  0.017648  21.981680
127  0.497057  -0.005679                  0.017648  21.981676
146  0.456142  -0.088028                  0.017648  21.981678
148  0.471516  -0.057084                  0.017648  21.981680
165  0.481267  -0.037459                  0.004845  23.158025
173  0.464531  -0.071143                  0.017648  21.981680
190  0.487078  -0.025764                  0.004845  23.158023
226  0.476739  -0.046572                  0.017648  21.981680

In [7]:
SRK_1param_Opt2_results[SRK_1param_Opt2_results.SSR == SRK_1param_Opt2_results.SSR.min()]

       Param1  sc_param1  SRK_kappa_A[bmimpf6,R32]        SSR
127  0.497057  -0.005679                  0.017648  21.981676

In [8]:
Opt2_127 = SRK_1param_Opt2_results.iloc[127]

In [9]:
lhs = pd.read_csv('../../LHS_250x8.txt')

In [10]:
lhs['sc_param1'] = ((lhs['Param1']-lhs['Param1'].min())/(lhs['Param1'].max()-lhs['Param1'].min()))*2+(-1)
lhs['sc_param2'] = ((lhs['Param2']-lhs['Param2'].min())/(lhs['Param2'].max()-lhs['Param2'].min()))*2+(-1)

In [11]:
Opt1_153_sc = Opt1_153[['sc_param2']]

In [12]:
Opt2_127_sc = Opt2_127[['sc_param1']]

In [13]:
Opt1_153_sc_df = pd.DataFrame(Opt1_153_sc).T
sc_Opt1_153 = pd.concat([Opt1_153_sc_df]*250,ignore_index=True)
sc_lhs_Opt1_153 = pd.concat([lhs[['sc_param1']],sc_Opt1_153],axis=1,ignore_index=True)
sc_lhs_Opt1_153.columns = ['sc_param1','sc_param2']
sc_lhs_Opt1_153.to_csv('Data/Fits/LHS_Fits/SRK_noTdep_scLHS_Opt1_153.csv',sep=',')

In [14]:
Opt2_127_sc_df = pd.DataFrame(Opt2_127_sc).T
sc_Opt2_127 = pd.concat([Opt2_127_sc_df]*250,ignore_index=True)
sc_lhs_Opt2_127 = pd.concat([sc_Opt2_127,lhs[['sc_param2']]],axis=1,ignore_index=True)
sc_lhs_Opt2_127.columns = ['sc_param1','sc_param2']
sc_lhs_Opt2_127.to_csv('Data/Fits/LHS_Fits/SRK_noTdep_scLHS_Opt2_127.csv',sep=',')

In [ ]:
sc_lhs_Opt1_78

In [ ]:
sc_lhs_Opt2_206