# Organize LH sample for PR 3params Opt2 LHS multistart

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../../')

In [2]:
PR_no_results_Opt1 = pd.read_csv('Data/Fits/LHS_Fits/PR_noTdep_LHS_fromsc_Opt1_102.csv',index_col=0)

In [3]:
PR_no_results_Opt2 = pd.read_csv('Data/Fits/LHS_Fits/PR_noTdep_LHS_fromsc_Opt2_120.csv',index_col=0)

In [4]:
PR_no_results_Opt1[PR_no_results_Opt1.SSR == PR_no_results_Opt1.SSR.min()]

,Unnamed: 0.1,sc_param1,sc_param2,"PR_kappa_A[emimTf2N,R125]","PR_kappa_A[R125,emimTf2N]",SSR
127,127,-0.005679,-0.002499,-0.034732,-0.015915,0.186145

In [5]:
no_127 = PR_no_results_Opt1.iloc[127]

In [6]:
PR_no_results_Opt2[PR_no_results_Opt2.SSR == PR_no_results_Opt2.SSR.min()]

,Unnamed: 0.1,sc_param1,sc_param2,"PR_kappa_A[emimTf2N,R125]","PR_kappa_A[R125,emimTf2N]",SSR
5,5,-0.055031,0.004003,0.006069,0.002599,6.721918

In [7]:
no_5 = PR_no_results_Opt2.iloc[5]

In [8]:
lhs = pd.read_csv('../../LHS_250x8.txt')

In [9]:
lhs['sc_param3'] = ((lhs['Param3']-lhs['Param3'].min())/(lhs['Param3'].max()-lhs['Param3'].min()))*2+(-1)

In [10]:
no_127_sc = no_127[['sc_param1','sc_param2']]
no_5_sc = no_5[['sc_param1','sc_param2']]

In [11]:
no_127_sc_df = pd.DataFrame(no_127_sc).T
sc_127 = pd.concat([no_127_sc_df]*250,ignore_index=True)
sc_127_lhs = pd.concat([sc_127,lhs[['sc_param3']]],axis=1,ignore_index=True)
sc_127_lhs.columns = ['sc_param1','sc_param2','sc_param3']
sc_127_lhs.to_csv('Data/Fits/LHS_Fits/PR_3params_Opt2_127_scLHS.csv',sep=',')

In [12]:
no_5_sc_df = pd.DataFrame(no_5_sc).T
sc_5 = pd.concat([no_5_sc_df]*250,ignore_index=True)
sc_5_lhs = pd.concat([sc_5,lhs[['sc_param3']]],axis=1,ignore_index=True)
sc_5_lhs.columns = ['sc_param1','sc_param2','sc_param3']
sc_5_lhs.to_csv('Data/Fits/LHS_Fits/PR_3params_Opt2_5_scLHS.csv',sep=',')

In [ ]:
sc_127_lhs

In [ ]:
sc_5_lhs