# Organize LH sample for PR noTdep LHS multistart

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../../')

In [2]:
PR_1param_Opt1_results = pd.read_csv('Data/Fits/LHS_Fits/PR_1parameter_Opt1_LHS.csv',index_col=0)
PR_1param_Opt2_results = pd.read_csv('Data/Fits/LHS_Fits/PR_1param_Opt2_LHS.csv',index_col=0)

In [3]:
PR_1param_Opt1_results.dropna(axis=0)

       Param2  sc_param2  PR_kappa_A[R125,emimTf2N]       SSR
5    0.500342   0.004003                   0.003062  7.550535
102  0.497102  -0.002499                  -0.013187  0.295091
192  0.495957  -0.004797                  -0.013187  0.295091

In [4]:
Opt1_102 = PR_1param_Opt1_results.iloc[102]

In [5]:
PR_1param_Opt2_results.dropna(axis=0)

       Param1  sc_param1  PR_kappa_A[emimTf2N,R32]        SSR
8    0.427696  -0.145278                 -0.028335   6.655070
25   0.318294  -0.365465                 -0.028336   6.655073
71   0.442427  -0.115629                 -0.067348  10.060880
72   0.461280  -0.077685                 -0.043916   7.863893
120  0.472536  -0.055031                 -0.028335   6.655069
122  0.453030  -0.094290                 -0.028335   6.655071
146  0.456142  -0.088028                 -0.051132   8.490043
148  0.471516  -0.057084                 -0.028335   6.655069
149  0.448340  -0.103728                 -0.028335   6.655070
161  0.320988  -0.360042                 -0.040964   7.620132
173  0.464531  -0.071143                 -0.051132   8.490040
187  0.428746  -0.143164                 -0.028335   6.655070
204  0.412959  -0.174938                 -0.051132   8.490043
209  0.439411  -0.121700                 -0.028335   6.655069
221  0.445637  -0.109168                 -0.039588   7.508884
222  0.434814  -0.130951                 -0.028335   6.655070

In [6]:
PR_1param_Opt2_results[PR_1param_Opt2_results.SSR == PR_1param_Opt2_results.SSR.min()]

       Param1  sc_param1  PR_kappa_A[emimTf2N,R32]       SSR
120  0.472536  -0.055031                 -0.028335  6.655069

In [7]:
Opt2_120 = PR_1param_Opt2_results.iloc[120]

In [8]:
Opt1_102

Param2                       0.497102
sc_param2                   -0.002499
PR_kappa_A[R125,emimTf2N]   -0.013187
SSR                          0.295091
Name: 102, dtype: float64

In [9]:
Opt2_120

Param1                      0.472536
sc_param1                  -0.055031
PR_kappa_A[emimTf2N,R32]   -0.028335
SSR                         6.655069
Name: 120, dtype: float64

In [10]:
lhs = pd.read_csv('../../LHS_250x8.txt')

In [11]:
lhs['sc_param1'] = ((lhs['Param1']-lhs['Param1'].min())/(lhs['Param1'].max()-lhs['Param1'].min()))*2+(-1)
lhs['sc_param2'] = ((lhs['Param2']-lhs['Param2'].min())/(lhs['Param2'].max()-lhs['Param2'].min()))*2+(-1)

In [12]:
Opt1_102_sc = Opt1_102[['sc_param2']]

In [13]:
Opt2_120_sc = Opt2_120[['sc_param1']]

In [14]:
Opt1_102_sc_df = pd.DataFrame(Opt1_102_sc).T
sc_Opt1_102 = pd.concat([Opt1_102_sc_df]*250,ignore_index=True)
sc_lhs_Opt1_102 = pd.concat([lhs[['sc_param1']],sc_Opt1_102],axis=1,ignore_index=True)
sc_lhs_Opt1_102.columns = ['sc_param1','sc_param2']
sc_lhs_Opt1_102.to_csv('Data/Fits/LHS_Fits/PR_noTdep_scLHS_Opt1_102.csv',sep=',')

In [15]:
Opt2_120_sc_df = pd.DataFrame(Opt2_120_sc).T
sc_Opt2_120 = pd.concat([Opt2_120_sc_df]*250,ignore_index=True)
sc_lhs_Opt2_120 = pd.concat([sc_Opt2_120,lhs[['sc_param2']]],axis=1,ignore_index=True)
sc_lhs_Opt2_120.columns = ['sc_param1','sc_param2']
sc_lhs_Opt2_120.to_csv('Data/Fits/LHS_Fits/PR_noTdep_scLHS_Opt2_120.csv',sep=',')

In [ ]:
sc_lhs_Opt1_102

In [ ]:
sc_lhs_Opt2_120