# Organize LH sample for SRK 3params Opt1 LHS multistart

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../../')

In [2]:
SRK_no_results = pd.read_csv('Final_Results/Data/Init_Final/LHS_Output/SRK_noTdep_LHS_final.csv',index_col=0)

In [3]:
SRK_no_results[SRK_no_results.SSR == SRK_no_results.SSR.min()]

,Param1,Param2,sc_param1,sc_param2,"SRK_kappa_A[emimTf2N,R125]","SRK_kappa_A[R125,emimTf2N]",SSR
2923,0.377554,0.474876,-0.489994,-0.100592,-0.052865,-0.028872,0.133158

In [4]:
no_2923 = SRK_no_results.iloc[2923]

In [10]:
no_2923

sc_param1   -0.489994
sc_param2   -0.100592
Name: 2923, dtype: float64

In [5]:
lhs = pd.read_csv('../../LHS_5000x8.txt')

In [6]:
lhs['sc_param4'] = ((lhs['Param4']-lhs['Param4'].min())/(lhs['Param4'].max()-lhs['Param4'].min()))*4+(-2)

In [7]:
no_2923 = no_2923[['sc_param1','sc_param2']]

In [8]:
no_2923_df = pd.DataFrame(no_2923).T
sc_2923 = pd.concat([no_2923_df]*5000,ignore_index=True)
sc_2923_lhs = pd.concat([sc_2923,lhs[['sc_param4']]],axis=1,ignore_index=True)
sc_2923_lhs.columns = ['sc_param1','sc_param2','sc_param4']
sc_2923_lhs.to_csv('Final_Results/Data/Init_Final/SRK_3params_Opt1_fromno.csv',sep=',')

In [9]:
sc_2923_lhs

      sc_param1  sc_param2  sc_param4
0     -0.489994  -0.100592  -1.159643
1     -0.489994  -0.100592   0.222301
2     -0.489994  -0.100592  -1.614484
3     -0.489994  -0.100592   1.212994
4     -0.489994  -0.100592  -1.649471
...         ...        ...        ...
4995  -0.489994  -0.100592   1.859791
4996  -0.489994  -0.100592  -0.915210
4997  -0.489994  -0.100592   0.413430
4998  -0.489994  -0.100592   1.494202
4999  -0.489994  -0.100592  -0.821543

[5000 rows x 3 columns]